body{
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: var(--font-primary);
}


/* HEADER */



/* NAV */
.navbar{
    padding: 24px;
    font-family: var(--font-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links{
    display: flex;
    gap: 20px;
}

.nav__link{
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav__link:hover {
    transform: scale(1.1);
}


.nav__logo{
    display: flex;
    align-items: center;
    font-size: var(--text-l);
    font-weight: 500;
    img{
        width: 50px;
    }
}

/* MAIN */

.main--hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 120px;
    min-height: 100vh;
}

.main{
    padding: 30px 0px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero__title{
    font-size: var(--text-xl);
}

.hero__subtitle{
    font-size: var(--text-m);
    color: var(--color-text-muted);
}

.hero__links{

    font-size: var(--text-s);
    padding: 20px;
    display: flex;
    gap: 20px;

}

.hero__link{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: solid;
}

.hero__link--primary{
    background-color: var(--color-text);
    color: var(--color-base);
    border-color: var(--color-text);
    transition: background-color 0.4s ease,
                color 0.4s ease,
                border-color 0.4s ease
}

.hero__link--primary:hover{
    background-color: var(--color-base);
    color: var(--color-text);
    border-color: var(--color-border);
}

.hero__link--secondary{
    background-color: var(--color-base);
    color: var(--color-text);
    border-color: var(--color-border);
    transition: background-color 0.4s ease,
                color 0.4s ease,
                border-color 0.4s ease
}

.hero__link--secondary:hover{
    background-color: var(--color-text);
    color: var(--color-base);
    border-color: var(--color-text);
}

/*            PAGINA        PROYECTOS           */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project__title{
    padding: 20px;
    font-family: var(--font-primary);
    font-size: var(--text-xl);
}

.projects-toolbar{
    width: 100%;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
}

.projects-toolbar__filters{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: var(--text-s);
}


.projects-toolbar__filter{
    padding: 10px 20px;
    font-family: var(--font-nav);
    background-color: var(--color-base);
    border-style: solid;
    border-color: var(--color-border);
    border-radius: 25px;
    appearance: none;
}

input[type="checkbox"] {
    accent-color: var(--color-text-muted);
}

.projects-toolbar__new{
    padding: 10px 20px;
    cursor: pointer;
    font-size: var(--text-s);
    border-radius: 25px;
    border-style: solid;
    background-color: var(--color-text);
    color: var(--color-base);
    border-color: var(--color-text);
}



.projects-grid{
    padding: 0px 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}


/* CARDS */


.project-card{
    font-family: var(--font-nav);
}

.project-card__image{
    padding: 10px;
    border-radius: 20px;
}

.project-card__info{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}

.project-card__title{
    font-size: var(--text-m);
    font-weight: var(--weight-normal);
}

.project-card__date{
    font-size: var(--text-s);
    color: var(--color-text-muted);
    font-weight: var(--weight-normal);
}


/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
}

.footer__content{
    padding: 20px 44px;
    display: flex;
    justify-content: space-between;
}

.footer__products{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__resources{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__info{
    font-size: var(--text-xs);
    padding: 44px 30px;
}

.footer__rrss{
    display: flex;
    gap: 20px;
    a{
        img{
            width: 35px;
        }
    }
}


/* MODAL */

.modal-overlay{
    display: none;
}

.modal-overlay.active{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 10px;
    background-color: var(--color-base);
    border-radius: 5px;
    padding: 20px;
}

.modal__close{
    color: var(--color-text);
    font-size: var(--text-s);
    border-style: none;
    background-color: var(--color-base);
    cursor: pointer;
    align-self: flex-end;
}

.modal__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    }

.form__info{
    display: flex;
    gap: 10px;

}

.form__side{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.form__submit{
    width: 100%;
    border-radius: 30px;
    padding: 8px;
    background-color: var(--color-text);
    color: var(--color-base);
    border-style: solid;
    border-width: 1px;
}

.form__forget{
    align-self: flex-end;
    font-size: var(--text-xs);
    color: var(--color-second);
}

.form__forget:hover{
    text-decoration: underline;
}

.modal__continue{
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    background-color: var(--color-base);
    border-style: solid;
    border-width: 1px;
    img{
        width: 20px;
    }
}

.modal__registered{
    font-size: var(--text-xs);
}

.modal__registered--link{
    color: var(--color-second);
}

.modal__registered--link:hover{
    text-decoration: underline;
}

.modal__legal{
    font-size: var(--text-xxs);
    text-align: center;
}

.project-modal-image{
    width: 50px;
}