:root {

/* Colores */

    --color-base: #ffffff;
    --color-text: #000000;
    --color-text-muted: #3f3f3f;
    --color-border: #c5c5c5;
    --color-second: #00488A;

/* Fuentes */

    --font-primary: "Montserrat", sans-serif;
    --font-nav: "Inter", sans-serif;
    --font-logo: "Roboto Flex", sans-serif;
    --font-ensemble: "Neue Haas Display", sans-serif;


    --weight-bold: ;
    --weight-normal: 500;

/* Bordes */
    --radius-sm: ;
    --radius-md: ;
    --radius-full: ;

/* Tamaños */

    --text-xxs: 0.75rem;
    --text-xs: 0.875rem;
    --text-s: 1rem;
    --text-m: 1.25rem;
    --text-l: 1.5rem;
    --text-xl: 3rem;
}

@font-face {
    font-family: "Neue Haas Display";
    src: url("../assets/fonts/NeueHaasDisplayBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Display";
    src: url("../assets/fonts/NeueHaasDisplayBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Neue Haas Display";
    src: url("../assets/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Display";
    src: url("../assets/fonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

